<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Denuncias
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <div class="contenedor1">
    <h1> Sistema Judicial</h1>
    <h2> MINISTERIO PUBLICO</h2>
  </div> 
  <div class="contenedor-denuncias">
    <div class="contenedor2">
      <h3> Lista de denuncias </h3>
      <form action="#!registro" class="action-form">
          <button class="bgGreenTurkish">Registrar una nueva denuncia</button>
      </form>
      <table>
        <thead>
          <tr class="center-elements">
              <td><strong>Codigo denuncia</strong></td>
              <td><strong>Ver estado denuncia</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td>
              <a class="link">{{event.id}}</a>
            </td>
            <td>
                <form class="play-form">
                    <button class="play-button">Iniciar Simulacion</button>
                </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
    <div class="table-div">
      
    </div>
  </div>
</body>
